@model IEnumerable<BusinessLogicLayer.Services.Dtos.TransactionDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transaction History</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleProfit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleCostBasis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
               @*  <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.TypeId) *@
                    @if (item.TypeId == 1) { 
                        @Html.Label("Buy");
                    } else {
                        @Html.Label("Sell");
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleCostBasis)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
